<?xml version="1.0"?>
<Project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <propertyGroup>
    <StartProgram>E:\code\dios\dios-cocos-samples\install\bin\win32\release\dios-lua-app.exe</StartProgram>
    <StartArguments />
    <StartWorkingDirectory>E:\code\dios\dios-cocos-samples\dios-cocos\src\apps\dios-lua-app\Resources</StartWorkingDirectory>
  </propertyGroup>
</Project>